html{
  font-size: 14px !important;
}
body{
    font-size: 14px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    background-color: rgb(245,245,245);
    }
  
.app-container{
  margin: 90px auto 0 auto;
  max-width: 1000px;
}

.messenger-container{
  margin: 75px auto 0 auto;
  max-width: none;
}

/*auto sets at middle middle*/
.nav-container{
  margin: left;
}

/* any svg (icons) in our nav bar */
.nav-container svg{
  color: #ABABAB;
}

a{
  text-decoration: none;
}

input[type="file"] {
  display: none !important;
}
